.conversation-scroll > .viewport {
    -fx-background-color: transparent;
}

.conversation-background {
    -fx-background-image: url("../images/background.png");
    -fx-background-size: 100% auto;
    -fx-background-repeat: repeat-y;
    -fx-background-position: center top;
}

.conversation-background .dialog-text {
    -fx-text-fill: #ffffff;
}
